*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.container h2{
    padding: 80px 0;
    font-size: 40px;
    text-shadow: 5px 5px 20px;
}

.container i{
    font-size: 120px;
    position: absolute;
    right: 30%;
    bottom: 5px;
}

.content{
   top: 50%;
   position: absolute;
   transform: translateY(-50%); 
   color: #141010;
}

.content h1 span{
    color: #d5032d;
}

.content h1{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

.content p{
    font-size: 20px;
    padding-bottom: 10px;
}

.content button{
  background: transparent;
  border: 2px solid #141010;
  outline: none;
  padding: 12px 25px;
  color: #141010;
  cursor: pointer;
}
.content button i{
    font-size: 20px;
    margin-left: 10px;
}

.bday-time{
    display: flex;
    margin-bottom: 20px;
}

.bday-time div{
   flex-basis: 100px; 
}

.bday-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}