*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(image/background.jpeg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}

section h2{
    padding: 50px 0;
    font-size: 40px;
}

h1{
    font-size: 60px;
}

p{
    font-size: 25px;
    padding-bottom: 20px;
}